<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="signupFrm">
        <form action="" class="form">
          <h1 class="title">Log in</h1>
          <h3 class="h3">Hey there! Login now.</h3>
          
          
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a">
            <label for="" class="label">Password</label>
          </div>
          <a class="item" href="/table">Login</a>
          
          
        </form>
      </div>
</body>
</html>